<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176858905485-bfuj0luocnkesaarmmab7vnv519oht0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176858905485-bfuj0luocnkesaarmmab7vnv519oht0j</string>
	<key>API_KEY</key>
	<string>AIzaSyAI8Whaaz5RyN0G1LB2XtkWd-n0jzpTCp4</string>
	<key>GCM_SENDER_ID</key>
	<string>176858905485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.teacherApp</string>
	<key>PROJECT_ID</key>
	<string>its-school-d22f9</string>
	<key>STORAGE_BUCKET</key>
	<string>its-school-d22f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176858905485:ios:87d0f16a0a2d515eb01bc4</string>
</dict>
</plist>